/* --primary-color: #FFCDB2   ;
--secondary-color: #FFB4A2 ;
--accent1-color: #B5838D;
--accent2-color: #6D6875; */

h1 {
    text-align: center;
}

image {
    display: block;
    margin: 0 auto;
    
}

p1 {
    
}