body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 16px;
    text-align: center;
    background-color:  #FFB4A2 ;
  }

  .button {
    background-color:#6D6875;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
  }
  image {
    
    margin: 0 auto;
    

  }
  .logo{
    width: 400px;
  }
  .trash-flex{
    display: flex;
    padding-bottom: 200px;
    align-items: center;
  }
  .trashy {
    background-color: #FFCDB2;
    margin: 30px;
    padding: 32px;
  }

  .brain-flex{
    display: flex;
    padding-bottom: 200px;
    align-items: center;
  }
  .brainy {
    background-color: #FFCDB2;
    margin: 30px;
    padding: 32px;
  }
  .mech-flex{
    display: flex;
    padding-bottom: 200px;
    align-items: center;
  }
  .mechy {
    background-color: #FFCDB2;
    margin: 30px;
    padding: 32px;
  }

  .diesle-flex{
    display: flex;
    padding-bottom: 200px;
    align-items: center;
  }
  .deisley{
    background-color: #FFCDB2;
    margin: 30px;
    padding: 32px;

  }
  .clown-flex{
    display: flex;
    padding-bottom: 200px;
    align-items: center;
  }
  .clowny{
    background-color: #FFCDB2;
    margin: 30px;
    padding: 32px;
  }

  .tissue-flex{
    display: flex;
    padding-bottom: 200px;
    align-items: center;
  }
  .tisuey{
    background-color: #FFCDB2;
    margin: 30px;
    padding: 32px;
  }

  
  .lance-flex{
    display: flex;
    padding-bottom: 200px;
    align-items: center;
  }
  .lancy{
    background-color: #FFCDB2;
    margin: 30px;
    padding: 32px;
  }



  footer{
    
    border-top: 75px solid #FFCDB2;
    padding: 140px;
    margin: 30px;


  }
