    body {
        background-color: rgb(216, 128, 20);
    }

    

    .nav_link {
        padding: 10px;
        color: black;
        font-size: 1.3em;
    }

    img {
        width: 300px;

    }

    #main_title {
        font-size: 4em;
    }