    /* * {
        border: 2px solid black;

    }
     */
    @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

    body {
        padding: 0;
        margin: 0;
        background-color: rgb(239, 229, 217);
        
    }

    #content {
        max-width: 1600px;
        margin: 0 auto;
        background-color: white;
    }

   nav {
    display: flex;
    justify-content: center;
   } 

    .nav_link {
        padding: 10px;
        color: black;
        font-size: 1.3em;
    }

    img {
        width: 30%;
        display: block;
        margin: 0 auto;
        border: 5px solid black;
        /* border-radius: 50% ; */

    }
    a { color: black;
    }

    a:hover {color: green;
            background-color: beige;
        }

    #main_title {
        font-size: 4em;
        text-align: center;
        font-family: "Protest Riot", 'Garamond';
    }

    p { 
        text-align: center;
    }
    main p {
        width: 40%;
        margin: 50px auto;
        font-size: 1.2em;
        line-height: 1.5em;
        padding: 50px;
        background-color: rgb(111, 135, 111);
        border: 5px solid black;
        border-radius: 10px 50px; 
    }
    footer {
        background-color: rgb(61, 81, 61);
        padding: 20px;
    }